<ul class="nav navbar-nav">
    <li class="active"><%= link_to "Home", recipes_path %></li>
    <li><%= link_to "Profile", edit_user_registration_path %></li>
</ul>
<span class="signed_in_as"> Signed in as: <%= current_user.name %></span>

<%= search_form_for @q, url: recipes_path, html: { class: "navbar-form navbar-right", role: "search"} do |f| %>
	<div class="form-group">
      <%= f.search_field :name_or_category_or_tags_name_cont, placeholder: "Search", class: "form-control" %>
	</div>
<%= f.submit "Submit", class: "btn btn-default" %>
<% end %>